.analytics-enter {
    opacity: 0;
    transform: translateY(-10px);
}
.analytics-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
.analytics-exit {
    opacity: 1;
    transform: translateY(0);
}
.analytics-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 300ms ease-in-out;
}
